{% extends "base.html" %}
{% block scripts %}
<script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/static/js/main.js"></script>
{% endblock %}

{% block content %}
{% if error %}
  <p class="error">{{ error }}</p>
{% endif %}


{% if instructions %}
  <div class="content">
    <h1>{{ instructions }} </h1>
    <br>
    <br>
  </div>
{% endif %}

<div class="site-footer">
  <p>Made by Mihai Andrei</p>
</div>
{% endblock %}
