{% extends 'base.html' %}
{% block content %}
{% if error %}
  <p class="error">{{ error }}</p>
{% endif %}

<h1>Questions:</h1>
{% if question_list %}
<h3> To vote, text 609 917 7253 with the id of the question you want answered </h3>
<ul class ="questions">
  {% for q in question_list %}
  <li> User {{q.username }} asked "{{q.question}}" Question ID: {{q.id}} </li> 
  {% endfor %}
  </ul>
{% else %}
  <h3> None as of yet! </h3>
{% endif %}
<form action = "{{ url_for('results') }}" name="results" method="GET">
    <button type="submit" class="button"> Results </button>
  </form>


{% endblock %}
